@import "../../../../adaptive-tools";


.headerNav__btn{
    width: vw(35px);
    height: vh(35px);
    padding: vh(5px) vw(5px);
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: vw(32px);
    transition-duration: 0.2s;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    .spans{
        span{
            display: block;
            width: vw(20px);
            height: vh(2px);
            transition-duration: 0.3s;
        }
        &__middle{
            margin-top: vh(8px);
        }
        &__bottom{
            margin-top: vh(8px);
        }
    }
    &.light{
        background: rgb(114, 22, 201) !important;
        span{
            background-color: white;
        }
    }
    &.dark{
        background: rgb(20, 20, 20) !important;
        span{
            background-color: whitesmoke;
        }
    }
}
.headerNav__btn:hover{
    background: rgba(8, 1, 102, 0.589);
}
#active{
    align-items: inherit;
    .spans{
        &__top{
            margin-top: -1px;
            transform: rotate(45deg);
        }
        &__middle{
            display: none;
        }
        &__bottom{
            margin-top: -1px;
            transform: rotate(-45deg);
        }
    }
}

@media screen and (max-width: $mobile-screen-vw){
    .headerNav__btn{
        display: flex;
        width: 35px;
        height: 35px;
        padding: 5px 5px;
        margin-left: mobile_vw(32px);
        .spans {
            span {
                width: 20px;
                height: mobile_vh(2px);
            }

            &__middle {
                margin-top: mobile_vh(8px);
            }

            &__bottom {
                margin-top: mobile_vh(8px);
            }
        }
    }
}
