@import "../../adaptive-tools";

$transitDuration: 0.6s 1.6s 2.2s 1.5s 0.6s;

.base__stack{
    ul{
        li{
            transform: translateX(-300%);
        }
    }
    &.exited{
        ul{
            li{
               transform: translateX(-300%);        
                img{
                    margin-right: vw($base-size);
                }
            }
        }
    }
    &.entered{
        ul{
            li{
                transform: translateX(-115%);
                @for $i from 1 through length($transitDuration){
                    &:nth-child( #{$i} ){
                        transition-property: transform;
                        transition-duration: nth($transitDuration, $i);
                    }
                }
                img{
                    margin-right: vw($base-size);
                }
                &:hover{
                    font-style: italic;
                    letter-spacing: 0.1ch;
                }
            }
        }
    }
}
.others{
    ul{
        li{
            transform: translateX(300%);
            width: vw(190px);
        }
    }
    &.exited{
        ul{
            li{
                display: flex;
                justify-content: flex-end;
                transform: translateX(300%);
                img{
                    margin-left: vw(32px);
                }
            }
        }
    }
    &.entered{
        ul{
            li{
                display: flex;
                justify-content: flex-end;
                transform: translateX(100%);
                @for $i from 1 through length($transitDuration){
                    &:nth-child( #{$i} ){
                        transition-property: transform;
                        transition-duration: nth($transitDuration, $i);
                    }
                }
                img{
                    margin-left: $base-size;
                }
                &:hover{
                    font-style: italic;
                    letter-spacing: 0.1ch;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .base__stack{
        &.entered{
            ul{
                li{
                    transform: translateX(mobile_vw(-100px));
                }
            }
        }
    }
    .others{
        &.entered{
            ul{
                li{
                    transform: translateX(mobile_vw(80px));
                }
            }
        }
    }
}



@media screen and (max-width: $mobile-screen-vw) {
    .base__stack{
        &.entered{
            ul{
                li{
                    font-size: mobile_vw(24px);
                    transform: translateX(mobile_vw(-200px));
                }
            }
        }
    }
    .others{
        &.entered{
            ul{
                li{
                    font-size: mobile_vw(24px);
                    transform: translateX(mobile_vw(280px));
                }
            }
        }
    }
}
