@import "../../adaptive-tools";


body{
    font-size: vw($base-size);
}
h2 {
    font-size: vw(26px);
}
h3 {
    font-size: vw(22px);
}
input, textarea {
    font-size: vw(24px);
    &::placeholder {
        font-style: oblique;
        font-size: vw(24px);
    }
}
.layout{
    width: 100%;
}
.layout.dark{
    background: rgba(0, 0, 0, 0.918);
    color: white;
}
.layout.light{
    background: rgba(255, 255, 255, 0.918);
    color: rgb(0, 0, 0);
}
body::-webkit-scrollbar{
    width: 15px;
}
.body{
    &__light::-webkit-scrollbar{
        background: rgba(255, 255, 255, 0.897);
        box-shadow: inset 0 0 5px grey;
    }
    &__light::-webkit-scrollbar-thumb{
        background: rgb(128, 124, 124);
        border-radius: 10px;
    }
    &__dark::-webkit-scrollbar{
        background: rgba(0, 0, 0, 0.897);
        box-shadow: inset 0 0 5px grey;
    }
    &__dark::-webkit-scrollbar-thumb{
        background: white;
        border-radius: 10px;
    }
}

@media screen and (max-width: $mobile-screen-vw) {
    body{
        font-size: mobile_vw(24px);
    }
    h2 {
        font-size: mobile_vw(32px);
    }
    h3 {
        font-size: mobile_vw(28px);
    }
    input, textarea {
        font-size: mobile_vw(24px);
        &::placeholder {
            font-style: oblique;
            font-size: mobile_vw(24px);
        }
    }

}