@import "../../adaptive-tools";


.contact{
    padding-top: vh(36px);
    &__forms{
        width: 45%;
    }
    &__row_one{
        display: flex;
        justify-content: space-around;
        margin-bottom: vh($base-size);
        input{
            width: 40%;
            padding: vh(8px) vw(8px);
            border-radius: 5px;
        }
        #contact__name{
            &_error{
                outline: none;
                border: 2px solid red;
            }
        }
        #contact__email{
            &_error{
                outline: none;
                border: 2px solid red;
            }
        }
    }
    &__row_two{
        margin-bottom: vh($base-size);
        input{
            width: 90%;
            margin: 0 auto;
            padding: vh(8px) vw(8px);
            border-radius: 5px;
        }
    }
    &__row_three{
        margin-bottom: vh($base-size);
        textarea{
            width: 90%;
            height: 220px;
            margin: 0 auto;
            padding: vh(8px) vw(8px);
            border-radius: 5px;
            resize: none;
            outline: 1px solid black;
        }

    }
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.send__button{
    width: 90%;
    padding: vh(8px) 0;
    margin: 0 auto;
    background: rgb(111, 21, 228);
    color: white;
    border-radius: 5px;
    font-size: vw(20px);
    border: none;
    cursor: pointer;
}

.messageSent{
    opacity: 0;
    padding-top: vh(24px);
    font-size: vw(20px);
    transition-property: opacity;
    &.active{
        transition-duration: 1s;
        opacity: 1;
    }
    &.light{
        color: black;
    }
    &.dark{
        color: white;
    }
}

@media screen and (max-width: $mobile-screen-vw){
    .contact{
        padding-top: mobile_vh(36px);
        &__forms{
            width: 95%;
        }
        &__row_one{
            flex-direction: column;
            margin-bottom: mobile_vh($base-size);
            justify-content: center;
            align-items: center;
            input{
                padding: mobile_vh(15px) mobile_vw(15px);
                width: 90%;
                margin-top: mobile_vh(16px);
            }
        }
        &__row_two{
            margin-bottom: mobile_vh($base-size);
            input{
                padding: mobile_vh(15px) mobile_vw(15px);
            }
        }
        &__row_three{
            margin-bottom: mobile_vh($base-size);
            textarea{
                height: mobile_vh(220px);
                padding: mobile_vh(15px) mobile_vw(15px);
            }

        }
    }
    .send__button{
        font-size: mobile_vw(24px);
        padding: mobile_vh(12px) 0;
    }
    .messageSent{
        padding-top: mobile_vh(24px);
    }
}

