@import "../../adaptive-tools";


.myProjects{
    ul{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;

    }
}
.projects{
    position: relative;
    a{
        position: static !important;
    }
    &__toProject{
        position: absolute;
        top: 9.3vw;
        left: 0;
        width: 100%;
        z-index: 10;
        button{
            background: rgb(75, 255, 216);
            color: rgb(70, 7, 172);
            font-style: italic;
            letter-spacing: 0.15ch;
            font-weight: 600;
            font-size: vw(22px);
            padding: vh($base-size) vw($base-size);
            border-radius: $base-size;
            box-shadow: inset 0 0 vw(10px) rgba(245, 245, 245, 0.788);
            cursor: pointer;
            &:hover{
                background: rgb(185, 255, 240);
            }
        }
    }
    &__item{
        box-sizing: border-box;
        width: 37%;
        background: rgb(101, 0, 184);
        color: white;
        border-radius: 6px;
        margin-top: vh(20px);
        h3{
            margin: vh(8px) 0;
        }
        figure{
            position: relative;
            margin: vh($base-size) vw($base-size);
            padding-bottom: vh($base-size);
            line-height: 170%;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                display: block;
                width: calc(100% + 2px);
                height: 100%;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                transition-duration: 0.2s;
                transform: scaleX(0);
            }
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: calc(100% + 1px);
                bottom: calc(0% - 1px);
                display: block;
                width: 100%;
                border-left: 1px solid white;
                border-right: 1px solid white;
                transition-duration: 0.2s;
                transform: scaleY(0);
            }
            &:hover{
                &::before{
                    transform: scaleX(1);
                }
                &::after{
                    transform: scaleY(1);
                }
            }
        }

        img{
            width: 26vw;
            height: 17vw;
            margin-top: vh(32px);
            border-radius: 6px;
        }
        a{
            position: sticky;
            z-index: 50;
            color: white;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}


@media screen and (max-width: $mobile-screen-vw) {
    .myProjects{
        ul{
            flex-direction: column-reverse;
            align-items: center;
            flex-wrap: wrap-reverse;
        }
    }
    .projects{
        &__toProject {
            top: 28%;
            button{
                padding: mobile_vh($base-size) mobile_vw($base-size);
                font-size: mobile_vw(26px);

            }
        }
        &__item{
            width: 95%;
            margin-top: mobile_vh(20px);
            h3 {
                margin: mobile_vh(8px) 0;
            }
            figure {
                margin: mobile_vh($base-size) mobile_vw($base-size);
                padding-bottom: mobile_vh($base-size);
            }

            img {
                width: 80%;
                height: mobile_vh(200px);
                margin-top: mobile_vh(32px);
            }
        }
    }

}
