.header{
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    &.light{
        background: rgb(152, 61, 238);
        color: white;
    }
    &.dark{
        background: rgb(44, 43, 44);
        color: white;
    }
}

.theme__toggle{
    margin-right: 2em;
    width: 80px;
    height: 32px;
    margin: 10px 5em;
    padding: 0px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    border: 2px solid gray;
    &:before{
        content: '';
        width: 30px;
        height: 29px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.light{
        &:before{
            transform: translateX(2%);
            transform: translateY(-2%);
            background-color: black;
            transition-duration: 1s;
        }
        background-color: white;
    }
    &.dark{
        &:before{
            transform: translateX(153%);
            height: 28px;
            background-color: white;
            transition-duration: 1s;
        }
        background-color: rgba(0, 0, 0, 0.897);
    }
}

.language__toggle{
    padding: 5px 10px;
    margin-right: 2em;
    border-radius: 0.4em;
    width: 60px;
    cursor: pointer;
    &.light{
        color: black;
        background: rgb(228, 225, 225) !important;
    }
    &.dark{
        color: white;
        background: black !important;
        box-shadow: inset 0px 0px 5px white;
    }
}