.contacts{
    padding-bottom: 1.5em;
    &__item{
        height: 65px;
        width: 65px;
        border-radius: 0.8em;
        margin: 0em 3em;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &.light{
            img{
                border: 2px solid black;
            }
            &:hover{
                background: rgb(181, 178, 182);
            }
        }
        &.dark{
            img{
                border: 2px solid white;
            }
            &:hover{
                background: rgb(185, 178, 178);
            }
        }
    }
    .container{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        ul{
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 0 2em;
                    cursor: pointer;
                }
            }
        }
        h2{
            margin: 0;
        }
    }
}
#github__logo{
    border: 2px solid black;
}