@import "../../../adaptive-tools";


.header{
    &__nav{
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin-right: vw(48px);
        padding: 0;
        font-size: vw(18px);
        li{
            height: 100%;
            padding: 0 vw(8px);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        li:hover{
            text-decoration: none;
        }
        &.light{
            li:hover{
                background: rgb(126, 51, 224);
            }
        }
        &.dark{
            li:hover{
                background: rgb(56, 55, 55);
            }
        }
    }
}

@media screen and (max-width: $mobile-screen-vw){
    .header{
        &__nav{
            &.notActive{
                display: none;
            }
            &.active{
                position: absolute;
                top: 53%;
                right: -2.8%;
                z-index: 100;
                max-width: 40%;
                height: mobile_vh(200px);
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background: rgb(44, 43, 44);
                border: 1px solid white;
                list-style: none;
                margin-right: mobile_vw(48px);
                padding: 0 mobile_vw(24px);
                font-size: mobile_vw(18px);
                li{
                    height: 100%;
                    padding: 0 mobile_vw(8px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                li:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
