@import "../../adaptive-tools";


.aboutMe{
    width: 100%;
    padding: vh(48px) 0 32px 0;
    h2 {
        word-break: break-word;
    }
    &__content{
        width: 85%;
        padding: vh(24px) 0 32px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    &__header{
        width: 90%;
    }
    &__description{
        width: 85%;
        word-wrap: break-word;
        margin: 0 auto;
        animation: show-desc 3s ease 1;
        font-size: vw($base-size);
        line-height: 250%;
    }
    .eng__header{
        display: inline-block;
        width: 33ch;
        font-family: monospace;
        white-space: nowrap;
        overflow: hidden;
        border-right: 4px solid #ffa500;
        animation: flash-border 0.85s step-end infinite,
                   printing-text 3s steps(33) 1;
    }
    .ru__header{
        display: inline-block;
        width: 38ch;
        font-family: monospace;
        white-space: nowrap;
        overflow: hidden;
        border-right: 4px solid #ffa500;
        animation: flash-border 0.85s step-end infinite,
                   printing-text 3s steps(33) 1;
    }
}
@keyframes show-desc {
    0% {
        font-size: 0;
        opacity: 0;
    }
    100% {
        font-size: vw($base-size);
        opacity: 1;
    }
}
@keyframes flash-border {
    0%{
        border-color: rgb(164, 94, 255);
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: rgb(164, 94, 255);
    }
}
@keyframes printing-text {
    0%{
        width: 0;
    }
    100%{
        width: 33ch;
    }
}
.avatar{
    &__img{
        width: 235px;
        height: 300px;
        border-radius: 0.5rem;
        transform: rotate(0deg);
        animation-name: rotateAvatar;
        animation-duration: 3s;
    }
}

@keyframes rotateAvatar {
    0% {
        transform: rotate(45deg);
        border-radius: 0.5rem;
    }
    50% {
        border-radius: 50%;
        width: 3px;
    }
    100%{
        transform: rotate(1080deg);
        border-radius: 0.5em;
    }
}



@media screen and (max-width: $mobile-screen-vw){
    .aboutMe{
        width: 100%;
        padding: mobile_h(48px) 0 mobile_vh(32px) 0;
        &__content{
            width: 100%;
            flex-direction: column-reverse;
            align-items: center;
            flex-wrap: wrap-reverse;
            padding: mobile_vh(24px) 0 mobile_vh(32px) 0;
        }
        &__description{
            font-size: mobile_vw(24px);
            animation: show-desc 3s ease 1;
            line-height: 200%;

        }
    }
    .avatar{
        &__img{
            width: 350px;
            height: 450px;
        }
    }
    @keyframes show-desc {
        0% {
            font-size: 0;
            opacity: 0;
        }
        100% {
            font-size: mobile_vw($base-size);
            opacity: 1;
        }
    }
}


@media screen and (max-width: 420px) {
    .avatar{
        &__img{
            width: 220px;
            height: 280px;
            border-radius: 0.5rem;
            transform: rotate(0deg);
            animation-name: rotateAvatar;
            animation-duration: 3s;
        }
    }
}
